:root {
  --color-primary: rgb(0, 184, 153); //#00B899
  --color-secondary: rgb(113, 119, 128); //#717780
  --color-border: rgb(231, 232, 234);
  --color-normal: black;
  --color-tertiary: rgb(51, 51, 51);
  --color-primary-half-opacity: rgb(221, 241, 238);
}
